body{
    background-color: lightgray;
}
.sidenav {
    height: 100%; 
    width: 180px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(56, 60, 65); 
    overflow-x: hidden; 
    padding-top: 20px;
}
.avatar {
    vertical-align: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.topsidebar{
    padding: 0;
}
span{
    color: rgb(8, 20, 8);
    padding: 10px;
    margin-top: 0;
}
.topsidebar a {
    float: right;
    color: olive;
    font-size: 20px;
    padding: 6px;
}
.bar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.main {
    margin-left: 180px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
@media(min-width:468px){
    .container-1{
      display:flex;
      /*
      align-items:flex-start;
      align-items:flex-end;
      align-items:center;
      
      flex-direction:column;
      */
    } 
  .container-1 div{
    border:1px #ccc solid;
    padding:10px;
    margin: 10px;
  }
  
  .box-1{
    flex:1;
    order:1;
    background-color: beige;
  }
  
  .box-2{
    flex:1;
    order:2;
  }
  
  .box-3{
    flex:1;
    order: 3;
  }
  .box-4{
    flex:1;
    order: 3;
  }
}