body{
    background-color: lightgray;
}
.sidenav {
    height: 100%; 
    width: 180px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(56, 60, 65); 
    overflow-x: hidden; 
    padding-top: 20px;
    font-size: 20px;
}
.avatar {
    vertical-align: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.topsidebar{
    padding: 0;
}
span{
    color: rgb(8, 20, 8);
    padding: 10px;
    margin-top: 0;
}
.topsidebar a {
    float: right;
    color: #ccc;
    font-size: 25px;
    padding: 6px;
}
.bar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.main {
    margin-left: 180px;
}
.topnav{
    height: 30px;
}
.topnav a {
    color: black;
    float: right;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
}
@media(min-width:468px){
    .container-1{
      display:flex;
    } 
  .container-1 div{
    border:1px #eee solid;
    padding:10px;
    margin: 10px;
    margin-top: 60px;
  }
  
  .box-1{
    flex:1;
    order:1;
    background-color: rgb(216, 216, 185);
  }
  
  .box-2{
    flex:1;
    order:2;
    background-color: rgb(216, 216, 185);
  }
  
  .box-3{
    flex:1;
    order: 3;
    background-color: rgb(216, 216, 185);
  }
  .box-4{
    flex:1;
    order: 3;
    background-color: rgb(216, 216, 185);
  }
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(154, 180, 154);
    color: black;
    text-align: center;
}
  /*list of all products*/
.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 510px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: white;
    border: 2px solid #eee;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}