body{
    background-color: lightgray;
}
.sidenav {
    height: 100%; 
    width: 180px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(56, 60, 65); 
    overflow-x: hidden; 
    padding-top: 20px;
}
.avatar {
    vertical-align: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.topsidebar{
    padding: 0;
}
span{
    color: rgb(8, 20, 8);
    padding: 10px;
    margin-top: 0;
}
.topsidebar a {
    float: right;
    color: olive;
    font-size: 20px;
    padding: 6px;
}
.bar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }